@mixin grid-container {
  max-width: 100%;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}

@mixin grid-column($size) {
  flex-grow: if($size == 0, 1, 0);
  flex-shrink: 0;
  flex-basis: if($size == 0, 0%, auto);
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  width: if($size > 0, ($size / $grid-columns * 100%), null);
}

.container {
  @include grid-container;
}

.row {
  @include grid-row;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

@each $breakpoint, $media-query in $breakpoints {
  @media #{$media-query} {
    .col-#{$breakpoint} {
      @include grid-column(0);
    }
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include grid-column($i);
  }
}

@for $i from 1 through $grid-columns {
  @each $breakpoint, $media-query in $breakpoints {
    @media #{$media-query} {
      .col-#{$breakpoint}-#{$i} {
        @include grid-column($i);
      }
    }
  }
}
